# Ignore generated outputs

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Ignore environment files
.env
.venv/
env/
venv/
# Ignore DS_Store
.DS_Store
**/.DS_Store
Food survey/
writing/